* {
    box-sizing: border-box;
}

html {
    font-family: lato, serif;

}

body {
    margin: 0;
    background-color: white;
}
.btn {
    cursor: pointer;
    color: #c2c2c2;
    border: 2px solid #c2c2c2;
    background-color: var(--clr-head);
    font-family: inherit;
    font-size: 1em;
    padding: 0.5em 1.25em;
}

.btn:hover {
    color: RGBA(87.92655, 201.0012, 57.540749999999996, 1);;
    border-color: var(--clr-primary2);
}

/* button rounded */
.btn.rounded {
    border-radius: 2em;
}

/* button arrow */
.btn.arrow {
    position: relative;
}

.btn.arrow {
    transition: padding .4s;
}

.btn.arrow:hover {
    padding-inline-end: 2.375em;
}

.btn.arrow::after {
    content: '→';
    opacity: 0;
    position: absolute;
    right: 0.75em;

    transition: opacity .4s;
}

.btn.arrow:hover::after {
    transition: opacity .2s .2s;
    opacity: 1;
}