/* playfair display */
@font-face {
    font-family: poppins;
    src: url(/styles/fonts/Poppins-Bold.ttf);
}

.fa::before {
    font-family: fa;
}

.fa.facebook::before {
    content: '\f39e';
}

.fa.x::before {
    content: '\f099';
}

.fa.instagram::before {
    content: '\f16d';
}