:root {
    /* pallete */

    --clr-primary1: #202669;
    --clr-primarybase: #626262;
    --clr-primary-1: #b4ad9e;
    --clr-primary-2: #f0f0f0;
    --clr-logospan1: rgb(155, 155, 155);
    /* layout */

    --layoutpadding: 20px;

}