
.editor-content{
    display: grid;
    
    gap: 30px;
}
.canvas-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
h3{
    color: black;
}

.control-painel form{
    margin-bottom: 30px;
}

label{
    color:black;
}